<h2>Propiedes</h2>

<button [disabled]="btnvalor">envviar</button>

<input type="text" [value]="nombre" />

<hr />

<h3>cambio de nombre</h3>

<input type="text" [value]="nombre" (keyup)="chanlleName($event)" />

<hr />

<h3>cambio de nombre con NG model</h3>

<input type="text" required #isRequired="ngModel" [(ngModel)]="ngName" />

<p>Estado: {{ isRequired.valid }}</p>
<h2>{{ ngName }}</h2>
<hr />

<h2>holaaa</h2>
<h2>{{ "hola ".repeat(5) }}</h2>

<h1>{{ nombre }}</h1>

<hr />

<h1>NGFOR</h1>
<input type="text" name="" id="" [(ngModel)]="palabra" />
<button (click)="newPalabra()">Crear</button>
<ul>
  <li *ngIf="palabras.length === 0">No hay elementos</li>
  <li *ngFor="let palabra of palabras; index as i">
    {{ i }} {{ palabra }}

    <button (click)="deletePalabra(i)">DELETE</button>
  </li>
</ul>

<hr />

<h1>Iteracion de productos</h1>
<div class="productos--grid">
  <div *ngFor="let producto of productos; index as i">
    <img [src]="producto.img" alt="" />
    <h3>{{ producto.name }}</h3>
    <p>{{ producto.price }}</p>
  </div>
</div>

<hr />

<h1>clases dinamicas</h1>

<input type="text" required #isReq="ngModel" [(ngModel)]="nombre" />

<p class="message-error" [class.invalid]="isReq.invalid">
  El campo es requerido
</p>
